<h1 class="w-100" style="text-align: center">Página geral das embarcações - Escolha uma opção</h1>

<div class="btn-group">
    <a href="/Embarcacao/Cadastrar" class="btn btn-info mt-5">Quero cadastrar um navio</a>
    <a href="/Embarcacao/Alterar" class="btn btn-dark mt-5">Quero alterar as informações de um navio já cadastrado</a>
    <a href="/Embarcacao/Deletar" class="btn btn-secondary mt-5">Quero deletar um navio que cadastrei</a>
    <a href="/Embarcacao/Listagem" class="btn btn-warning mt-5">Quero ver uma lista de todos os navios</a>
</div>

<div class="w-100 mt-5" style="display: flex; justify-content: center; align-items: center;">
    <img src="~/navio.png" />
</div>
